.panel {
    background-color: rgba(0, 0, 0, 0.51);
}

.text {
    -unity-font: url("project://database/Assets/fonts/vcrosdneue/VCRosdNEUE.ttf?fileID=12800000&guid=8dbec1026331b334da8f8a79fd846226&type=3#VCRosdNEUE");
    -unity-font-definition: url("project://database/Assets/fonts/vcrosdneue/VCRosdNEUE%20SDF.asset?fileID=11400000&guid=e0eca5f6773e5df459280135be6b0f4f&type=2#VCRosdNEUE SDF");
}

.button {
    background-image: url("project://database/Assets/Sprites/UIPanel.png?fileID=21300000&guid=e91da6c34788eba4d83c73854ed89485&type=3#UIPanel");
    -unity-slice-scale: 1.9px;
    background-color: rgba(203, 203, 203, 0);
    -unity-font-definition: url("project://database/Assets/fonts/vcrosdneue/VCRosdNEUE%20SDF.asset?fileID=11400000&guid=e0eca5f6773e5df459280135be6b0f4f&type=2#VCRosdNEUE SDF");
    -unity-font: url("project://database/Assets/fonts/vcrosdneue/VCRosdNEUE.ttf?fileID=12800000&guid=8dbec1026331b334da8f8a79fd846226&type=3#VCRosdNEUE");
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    -unity-background-image-tint-color: rgb(255, 250, 192);
}

.MaskSVG {
    overflow: hidden;
}
